:root {
  --color-primary: #8298fa;
  --color-secondary: #fff;
  --color-black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
h1 {
  color: var(--color-primary);
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  text-transform: uppercase;
}
h2 {
  color: var(--color-secondary);
  font-size: 4rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
}
h4 {
  font-size: 2rem;
  color: var(--color-secondary);
  font-family: "Russo One", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-secondary);
}
img {
  width: 100%;
}

/*Nav */
nav {
  background-color: var(--color-primary);
  height: 80px;
  width: 100%;
}
.logo {
  margin-left: 40px;
}
.logo img {
  width: 80px;
  height: 80px;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 50px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--color-secondary);
  padding: 9px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
}
a.active,
a:hover {
  background-color: aliceblue;
  color: var(--color-black);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  float: right;
  cursor: pointer;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 25px;
  }
  a:hover,
  a.active {
    background: aliceblue;
    color: var(--color-black);
  }
  #check:checked ~ ul {
    left: 0;
  }
}
section .nav__image {
  background: url(/image/momsbase.webp) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

/* Cards */
.card {
  background-color: var(--color-black);
  padding: 3rem 5rem;
}
.card-header {
  text-align: center;
}
.card__icon {
  width: 80px;
  height: 80px;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
.card-container {
  background-color: var(--color-primary);
  border-radius: 0px 30px 0px 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-secondary);
  box-shadow: 0px 0px 10px 0px var(--color-black);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  width: 500px;
  height: 200px;
  padding: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: 100px 300px;
}
.grid--1x2 {
  display: inline-flex;
  margin: 2rem;
}

.card--heading {
  padding-bottom: 1rem;
}
/* Footer */
footer {
  background-color: var(--color-black);
}
.footer__section {
  text-align: center;
  padding: 8rem 9rem;
}
.footer--header {
  color: var(--color-primary);
  font-size: 4rem;
  font-family: "Rubik Bubbles", system-ui;
}
.footer-icon {
  font-size: 80px;
  margin: 2rem;
  margin-bottom: 4rem;
}
.footer-text {
  color: var(--color-secondary);
  font-weight: 200;
  background-color: var(--color-black);
}

/* About */
.about {
  background-color: var(--color-black);
}
.about--container {
  padding: 3rem 6rem;
  margin: 2rem;
  text-align: center;
}
.about__header {
  margin: 4rem;
}
.icon-momss {
  text-align: center;
  padding-bottom: 2rem;
}
.icon {
  margin-top: 4rem;
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(135, 72, 218, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(246, 247, 244, 0.6);
}
@media screen and (min-width: 400px) {
  .about__header {
    padding: 0;
    margin: 0;
  }
}

/* Foundation */
.foundation {
  background-color: var(--color-black);
  color: var(--color-secondary);
  margin: 0 auto;
  padding: 2rem;
}
.foundation-container {
  border: 1px solid var(--color-primary);
  width: 700px;
  text-align: center;
}
.foundation-header {
  margin: 1rem;
}
.foundation-info {
  border: 1px solid var(--color-primary);
}
.foundation-heading {
  color: var(--color-primary);
  font-family: "helvetica", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.foundation-social {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.foundation-paragrafer {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
@media screen and (max-width: 700px) {
  .foundation-container {
    width: 100%;
    padding: 0;
  }
}
